.cont {
  height: 400px;
  margin-bottom: 50px
}

.cont > h1,
.cont > p {
}

.cont > .left {
  width: 50%;
  height: 100%;
  float: left;
  border-right: 1px solid white;
  text-align: center;
  padding-right: 10px;
}

.cont > .right {
  width:50%;
  height:100%;
  float:right;
  padding-left: 10px;
}
